@model MevaPro.Models.Referanslar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="container pb-5">

    
    <div>
        <h4 style="text-align:center;">Referans Sil</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Baslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Baslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Icerik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Icerik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                <img width="75" height="80" src="@Model.Foto" alt="Alternate Text" />
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger" />
               
            </div>
        }

        <div style="margin-top:20px;">
            @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>