@model IEnumerable<MevaPro.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container" pb-5>
    <h2 style="text-align:center;">Kategoriler</h2>

    <p>
        @Html.ActionLink("Kategori Ekle", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KategoriAdi)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.KategoriId }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.KategoriId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>