
@{
    ViewBag.Title = "Bakim_destek";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="project-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Yazılım Geliştirme</h1>
                <div class="text mb-30" style="text-align:justify;">
                    MEVASİS olarak müşterilerimize ait BT altyapısındaki tüm donanım, yazılım ve servislerin bakım ve destek hizmetlerini geçmişten kazandığımız tecrübeleri kullanarak güvenli bir şekilde sağlamaktayız. Bu hizmetlerdeki amaç müşterilerimizin kritik olsun ya da olmasın çalışan servis, uygulama ya da sunucularının sorunsuz şekilde çalışmasını sağlamaktır.
                    <br />
                    <br />“Arıza oluşmadan gereken önlemleri almak” prensibi ile hizmet verme hedefi doğrultusunda, düzenli olarak arıza önleyici bakım, donanım ve sistem yazılımları için gerekli düzeltmeler ve güncelleme gibi hizmetler sunarak müşterilerimizin sistemlerinin sürekliliğini sağlıyoruz. Ayrıca istatistiksel verilerle arıza takibi yaparak, cihazın kullanım süresinin maksimuma çıkarılmasını sağlamaktadır.
                    MEVASİS, uzman kadrosu ile gerek uzaktan destek, gerekse yerinde teknik destek veren, konusunda deneyimli ve uzman elemanlara sahiptir. Uzaktan teşhis ve arıza giderme imkanı da sağlayan gelişmiş yönetim ve işletim sistemleri yardımı ile müşterilerine en hızlı, etkin ve güvenli hizmeti sunmaktadır.
                    <br />
                    <br />Yapılmış olan servis anlaşması seviyesinde haftanın 7 günü 24 saat teknik destek alabileceğiniz MEVASİS, satış öncesi ve sonrası teknik desteğe son derece önem vermekte, artı değerini verdiği sınırsız teknik destekle göstermektedir.
                </div>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="broucher">
                    <a href="#" class="theme-btn"><span class="flaticon-acrobat"></span>Şirket Sunumu <br>Aktif Form</a>
                </div>

                <div class="request-callback" style="text-align:justify">
                    <div class="inner-box">
                        <h4>Nasıl yardımcı olabiliriz?</h4>
                        <div class="text" style="text-align:justify;">Bizimle iletişime geçmek için lütfen online kayıt formundan yada telefon ile doğrudan iletişime geçebilirsiniz.</div>
                        <div class="phone-number"><span class="flaticon-headphones"></span>(0212) 483 70 33</div>
                        <div class="link-btn"><a href="@Url.Action("iletisim","Home", new { area =""})" class="theem-btn btn-style-one">Bize ulaşın</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">

            <div class="row">
                <div class="col-lg-8">
                    <div>
                        <h1>Bakım ve Destek verdiğimiz alanlar</h1>
                        <section class="funfact-section-two bg-white">
                            <div class="container">
                                <div class="fact-counter">
                                    <div class="row">
                                        <!--Column-->
                                        <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="900ms">
                                            <div class="item">
                                                <div class="inner-box">
                                                    <div class="icon-box">
                                                        <i class="flaticon-computer-2"></i>
                                                    </div>
                                                    <a href="@Url.Action("Yüksek_basarimli_hesaplama", "Home", new { area = "" })">
                                                        <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                            HPC
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <!--Column-->
                                        <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="300ms">
                                            <div class="item">
                                                <div class="inner-box">
                                                    <div class="icon-box">
                                                        <i class="flaticon-business"></i>
                                                    </div>
                                                    <a href="@Url.Action("Kurumsal_göc_hizmetleri", "Home", new { area = "" })">
                                                        <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                            Linux Sistem
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <!--Column-->
                                        <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="600ms">
                                            <div class="item">
                                                <div class="inner-box">
                                                    <div class="icon-box">
                                                        <i class="flaticon-drawing"></i>
                                                    </div>
                                                    <a href="@Url.Action("Kurumsal_göc_hizmetleri", "Home", new { area = "" })">
                                                        <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                            Kurumsal Göç
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="funfact-section-two bg-white">
                            <div class="container">
                                <div class="fact-counter">
                                    <div class="row">
                                        <!--Column-->
                                        <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="900ms">
                                            <div class="item">
                                                <div class="inner-box">
                                                    <div class="icon-box">
                                                        <i class="flaticon-worker"></i>
                                                    </div>
                                                    <a href="@Url.Action("Bakim_destek", "Home", new { area = "" })">
                                                        <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                            Uygulama Güvenliği
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <!--Column-->
                                        <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="300ms">
                                            <div class="item">
                                                <div class="inner-box">
                                                    <div class="icon-box">
                                                        <i class="flaticon-circle"></i>
                                                    </div>
                                                    <a href="@Url.Action("Bakim_destek", "Home", new { area = "" })">
                                                        <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                            Ağ Güvenliği
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <!--Column-->
                                        <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="600ms">
                                            <div class="item">
                                                <div class="inner-box">
                                                    <div class="icon-box">
                                                        <i class="flaticon-group"></i>
                                                    </div>
                                                    <a href="@Url.Action("Bakim_destek", "Home", new { area = "" })">
                                                        <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                            Veri Güvenliği
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="funfact-section-two bg-white">
                            <div class="container">
                                <div class="fact-counter">
                                    <div class="row">
                                        <!--Column-->
                                        <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="900ms">
                                            <div class="item">
                                                <div class="inner-box">
                                                    <div class="icon-box">
                                                        <i class="flaticon-bill"></i>
                                                    </div>
                                                    <a href="@Url.Action("Yazilim_gelistirme", "Home", new { area = "" })">
                                                        <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                            Veri Tabanı
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <!--Column-->
                                        <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="300ms">
                                            <div class="item">
                                                <div class="inner-box">
                                                    <div class="icon-box">
                                                        <i class="flaticon-project"></i>
                                                    </div>
                                                    <a href="@Url.Action("Yazilim_gelistirme", "Home", new { area = "" })">
                                                        <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                            Network
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <!--Column-->
                                        <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="600ms">
                                            <div class="item">
                                                <div class="inner-box">
                                                    <div class="icon-box">
                                                        <i class="flaticon-strategy"></i>
                                                    </div>
                                                    <a href="@Url.Action("Yazilim_gelistirme", "Home", new { area = "" })">
                                                        <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                            Yazılım Tasarım
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h3>Kullandığımız Teknolojiler</h3>
                        <ul class="list-style-two mb-30">
                            <li>Kendi ürünümüz olan Mazruf veya postfix veya Zimbra ile e-posta</li>
                            <li>Apache, Nginx, Lighttpd veya Tomcat ile Web</li>
                            <li>MySQL, PostgreSQL, Oracle veya PostgreSQL, MongoDB benzeri veritabanı</li>
                            <li>DRBD, HAProxy, Galera benzeri küme veya vekil failovers</li>
                            <li>Xen, VMWare, KVM vs ile sanallaştırma</li>
                            <li>Zabbix, Nagios, Cacti ile izlenmesi</li>
                            <li>Logstash, syslog-ng log yönetimi</li>
                            <li>OpenLDAP, Apache Directory ile Kimlik Yönetimi</li>
                            <li>Slurm, Lustre, Module ve MPI ile HPC çalışması</li>
                        </ul>
                    </div>
                    <div class="image mb-30"><img src="~/Content/images/resource/BakımD.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
