
@{
    ViewBag.Title = "Teknik_danismanlik";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="project-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Teknik Danışmanlık</h1>
                <div class="text mb-30" style="text-align:justify;">
                    Bilişim Teknolojileri Teknik Danışmanlığı, müşterilerimiz tarafından gerçekleştirilmesi hedeflenen bilişim projelerinin hayata geçirilmesi ve bilişim ihtiyaçlarınıza uygun çözümler üretilmesi amacıyla tecrübeli danışmanlık ekibi tarafından şirketimiz bünyesinde sunulan danışmanlık hizmetidir.
                    <br />
                    <br />MEVASİS Bilişim olarak, uzman danışman kadromuz ile farklı yetkinlik ve seviyelerde hizmet sunmakla birlikte, belirli bir konuda spesifik olarak üst düzey danışmanlık hizmeti verdiğimiz gibi, birden fazla konu içeren entegre ihtiyaçlara yönelik olarak da farklı danışmanları bir araya getirerek etkin çözümler üretiyoruz.
                </div>
                <h1>Teknik danışmanlık verdiğimiz alanlar</h1>                
                <section class="funfact-section-two bg-white">
                    <div class="container">
                        <div class="fact-counter">
                            <div class="row">
                                <!--Column-->
                                <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="900ms">
                                    <div class="item">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <i class="flaticon-computer-2"></i>
                                            </div>
                                            <a href="@Url.Action("Yüksek_basarimli_hesaplama", "Home", new { area = "" })">
                                                <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                    HPC
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                <!--Column-->
                                <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="300ms">
                                    <div class="item">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <i class="flaticon-business"></i>
                                            </div>
                                            <a href="@Url.Action("Kurumsal_göc_hizmetleri", "Home", new { area = "" })">
                                                <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                    Linux Sistem
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                <!--Column-->
                                <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="600ms">
                                    <div class="item">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <i class="flaticon-drawing"></i>
                                            </div>
                                            <a href="@Url.Action("Kurumsal_göc_hizmetleri", "Home", new { area = "" })">
                                                <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                    Kurumsal Göç
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="funfact-section-two bg-white">
                    <div class="container">
                        <div class="fact-counter">
                            <div class="row">
                                <!--Column-->
                                <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="900ms">
                                    <div class="item">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <i class="flaticon-worker"></i>
                                            </div>
                                            <a href="@Url.Action("Bakim_destek", "Home", new { area = "" })">
                                                <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                    Uygulama Güvenliği
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                <!--Column-->
                                <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="300ms">
                                    <div class="item">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <i class="flaticon-circle"></i>
                                            </div>
                                            <a href="@Url.Action("Bakim_destek", "Home", new { area = "" })">
                                                <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                    Ağ Güvenliği
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                <!--Column-->
                                <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="600ms">
                                    <div class="item">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <i class="flaticon-group"></i>
                                            </div>
                                            <a href="@Url.Action("Bakim_destek", "Home", new { area = "" })">
                                                <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                    Veri Güvenliği
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="funfact-section-two bg-white">
                    <div class="container">
                        <div class="fact-counter">
                            <div class="row">
                                <!--Column-->
                                <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="900ms">
                                    <div class="item">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <i class="flaticon-bill"></i>
                                            </div>
                                            <a href="@Url.Action("Yazilim_gelistirme", "Home", new { area = "" })">
                                                <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                    Veri Tabanı
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                <!--Column-->
                                <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="300ms">
                                    <div class="item">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <i class="flaticon-project"></i>
                                            </div>
                                            <a href="@Url.Action("Yazilim_gelistirme", "Home", new { area = "" })">
                                                <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                    Network
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                <!--Column-->
                                <article class="column counter-column col-lg-3 col-md-6 wow fadeIn" data-wow-duration="600ms">
                                    <div class="item">
                                        <div class="inner-box">
                                            <div class="icon-box">
                                                <i class="flaticon-strategy"></i>
                                            </div>
                                            <a href="@Url.Action("Yazilim_gelistirme", "Home", new { area = "" })">
                                                <div class="text" style="text-align:justify;" style="margin-left:-20px; margin-top:12px;">
                                                    Yazılım Tasarım
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Teknik ve altyapı danışmanlık için neden Mevasis'i seçmeliyim?</h3>
                <ul class="list-style-six mb-30">
                    <li>Ağ topolojilerinin hazırlanması; sistem, iletişim ve çözümlerinin sınıflandırılması,</li>
                    <li>Kuruma özel ihtiyaç duyulabilecek Teknik Destek Anlaşmalarının hazırlanması,</li>
                    <li>Teknik problemlerde uzman destek verecek bayinin veya iş ortağının seçilmesi,</li>
                    <li>Oluşabilecek problemlere göre önceliklerin belirlenmesi, risk planının yapılması,</li>
                    <li>Güvenlik politikalarının teknik destek süreçlerinde bozulmamasını temin etmek,</li>
                    <li> Periyodik bakım ve zafiyet taramalarının yapılması, raporlanması,</li>
                    <li>Rapor sonuçlarının değerlendirilmesi güvenilik yamalarının yapılmasını,</li>
                    <li>Kuruma özel ihtiyaç duyulabilecek Teknik Destek Anlaşmalarının hazırlanması,</li>
                    <li>Kontrol ve çalışma test sürçlerinin işletilmesi,</li>
                    <li>Güvenlik politiklarına uyum denetimi, gerekirse yeniden yapılandırması,</li>
                    <li>Yeni teknoloji ve daha verimli çözümlerin takibi, gerekirse yatırım planlanması,</li>
                    <li>Yeni entegrasyonların çalışan sistemi etkilememesi için plan ve prosedürlerin hazırlanması,</li>
                    <li>Ürün’e özel problemler içn üretici ve destek firmaları ile teknik destek süreçlerinin takibi,</li>
                    <li>Teknik personel için yenilikler ve mevcut durumlar için lokal eğitimlerin verilmesi</li>
                    <li>Teknik problemlerde uzman destek verecek bayinin veya iş ortağının seçilmesi</li>
                </ul>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="broucher">
                    <a href="#" class="theme-btn"><span class="flaticon-acrobat"></span>Şirket Sunumu <br>Aktif Form</a>
                </div>

                <div class="request-callback">
                    <div class="inner-box">
                        <h4>Size nasıl yardımcı olabiliriz?</h4>
                        <div class="text" style="text-align:justify;">Bizimle iletişime geçmek için lütfen online kayıt formundan yada telefo ile doğrudan iletişime geçebilirsiniz.</div>
                        <div class="phone-number"><span class="flaticon-headphones"></span>(0212) 483 70 33</div>
                        <div class="link-btn"><a href="@Url.Action("iletisim","Home", new { area =""})" class="theem-btn btn-style-one">Bize ulaşın</a></div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</section>

